.contact-section {
  height: 100%;
  width: 100vw;
  // padding-top: 25vh;
  overflow: hidden;
  display: flex;
  background: 
    linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('../img/myblurpic1.jpg') center top;
  background-size: cover;

  .contact{
    h2 {
      font-size: 2rem;
      margin-bottom: 2.1rem;
    }
  
    &__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      font-size: 1rem;
    }
  }
  .contact__pic{
    height: 260px;
    width: 260px;
    border-top: 6.5px;
    border-bottom: 6.5px;
    border-color: white;
    border-style: solid;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    z-index: 1;
    // margin-bottom: 1rem;
  }
}
.contact-ruler{
  position: absolute;
  width: 100vw;
  height: 2px;
  background-color: white;
  margin-top: 60vh;
}