@include media-md {
  .menu-btn {
    visibility: visible;
  }

  .about__bio {
    font-size: 1.5rem;
  }

  .projects__bio-image {
    height: 50vh;
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-section{
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
  }
  .contact{
    padding-top: 4rem;
  }
  .contact__pic{
    margin-bottom: 5rem;
  }
  .home_h2{
    font-size: 1rem;
  }
  .home__name{
    font-size: 3rem;
  }
  .about{
    .text-secondary{
      font-size: 1.2rem;
    }
    .about__bio-image{
      .text-secondary{
        font-size: 1.5rem;
      }
    }
    .about__h3{
      font-size: 1rem;
    }
    .about__title{
      font-size: 0.65 rem; 
    }
    .about__p{
      font-size: 0.8rem;
    }
  }
}

@include media-lg {
  .menu-btn {
    visibility: hidden;
  }
  .projects {
    &__bio-image {
      height: 40vh;
    }
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    .text-secondary {
      font-size: 1.5rem;
    }
  }

  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;
      margin-top: -0.9rem;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.1rem;
      }
    }
  }

  .contact-section{
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
  }
  .home_h2{
    font-size: 1rem;
  }
  .about{
    .text-secondary{
      font-size: 1.2rem;
    }
    .about__bio-image{
      .text-secondary{
        font-size: 1.5rem;
      }
    }
    .about__h3{
      font-size: 1rem;
    }
    .about__title{
      font-size: 0.65 rem; 
    }
    .about__p{
      font-size: 0.8rem;
    }
  }
}

@include media-xl {
  .menu-btn {
    visibility: hidden;
  }

  .projects {
    .text-secondary {
      font-size: 1.5rem;
    }
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }


  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;
      margin-top: -0.9rem;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.1rem;
      }
    }
  }

  .contact-section{
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
  }
  .home_h2{
    font-size: 1rem;
  }

  .about{
    .text-secondary{
      font-size: 1.2rem;
    }
    .about__bio-image{
      .text-secondary{
        font-size: 1.5rem;
      }
    }
    .about__h3{
      font-size: 1rem;
    }
    .about__title{
      font-size: 0.65 rem; 
    }
    .about__p{
      font-size: 0.8rem;
    }
  }
}